@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700;800&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('http://fonts.cdnfonts.com/css/gilroy-bold');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
:root{
  --icon-color : #ffffff;
  --icon-active-color : #c9ab02e5;
  --icon-bg-color : #31373f ;
  --icon-text-hover:#ffd900;
  --icon-text-active: #e2c000;
  
}

html{
    /* scrollbar-color: #d5f05e #000000; */
    scrollbar-width: thin;
}
/* ::-webkit-scrollbar {
    width: 8px;
  }
   
::-webkit-scrollbar-track {
box-shadow: inset 0 0 6px rgba(187, 194, 96, 0.3);
}

::-webkit-scrollbar-thumb {
background-color: #6c757d;
outline: 1px solid slategrey;
} */


body{
    font-family: 'Raleway';
}
.content{
  margin-left: 250px;
  background: #212529 ;
  min-height: 100vh;
  display: flex;
  flex-direction:column;
  color: white;
}

.sidebar{
  width: 250px;
  height: 100vh;
  padding: 0px 5px 0px 15px;
  border-right: rgba(255, 255, 255, 0.09) solid 1px;
  font-family: 'Open Sans';
  background: #111416;
  position: fixed;
  scrollbar-width: thin;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  color: #ffffff;
}
.sidebar::-webkit-scrollbar {
  width: 0px;
}




.sidebar .nav-link{
  display: flex;
  color: #6e6e6e;
}

.sidebar .nav-item{
  margin: 0px 1px 0px 1px;
}

.sidebar .nav-item.header{
  margin-left: 0px;
  font-size: 0.9rem;
  text-transform: uppercase;
  color: #6e6e6e;
  padding: .3rem 1rem;
}

.sidebar .nav-link.active{
  color: var(--icon-text-active);
  font-weight: 500;
}
.sidebar .nav-link:hover{
  color: var(--icon-text-hover);
}


.round-icon{
  background-color: var(--icon-bg-color);
  color:var(--icon-color);
  border-radius: 25%;
  height: 36px;
  width: 36px;
  display: flex;
}

.sidebar .nav-link.active .round-icon{
  background-color: var(--icon-active-color);
  color:var(--icon-color);
}
.sidebar .nav-link:hover .round-icon{
  background-color: var(--icon-active-color);
  color:var(--icon-color);
  transition: 200ms;
}

.round-icon i{
  margin: auto;
}

.sidebar .icon-text{
  margin: auto 0px auto 15px;
}


@media screen and (max-width:768px){
  .sidebar{
    width: 100%;
    height: 100vh;
    padding: 0px 5px 0px 15px;
    border-right: rgba(255, 255, 255, 0.09) solid 1px;
    font-family: 'Open Sans';
    background: #111416;
    position: fixed;
    scrollbar-width: thin;
    overflow-y: scroll;
    display: none;
    z-index: 999;
  }
  .sidebar.open{
    display: flex;
  }

  .content{
    margin-left: 0px;
    width: 100%;
    background: #212529 ;
  }
}

.login-button{
  background-color: var(--icon-bg-color);
  color:var(--icon-color);
  border:none;
}
.login-button:hover{
  background-color: #e2c000;
  color:#000;
  transition: 200ms;
}
.landing{
  padding-top: 60px;
  height: 100vh;
  font-family: 'Raleway';
}

.sidebar-color{
  background: #31373f;
  color: #cbcbcb;

}

.theme-btn{
  background-color: var(--icon-text-active);
  color: var(--icon-bg-color);
}
.theme-btn:hover{
  background-color: #fddc20;
}

.footer{
  display: flex;
  flex-direction: column;
  font-family: 'Roboto';
  padding: 25px;
  padding-bottom: 10px;
  background-color: #232a3156;
}
.footer h6{
  color: #fddc20;
  font-weight: bold;
}
.footer h5{
  font-weight: bold;
}
.theme-color{
  color: #fddc20;
}
.custom-form label{
  font-size: 0.95rem;
  color: #cbcbcb;
}
.custom-form input{
  background-color: #31373f60;
  color: #cbcbcb;
  border: none;
  font-size: 0.9rem;
}
.custom-form input:focus-within{
  background-color: #31373f60;
  color: #cbcbcb;
  border: #3d434a 1px solid;
  box-shadow: none;
}
.custom-form textarea{
  background-color: #31373f60;
  color: #cbcbcb;
  border: none;
  font-size: 0.9rem;
}
.custom-form textarea:focus-within{
  background-color: #31373f60;
  color: #cbcbcb;
  border: #3d434a 1px solid;
  box-shadow: none;
}
.custom-form select{
  background-color: #31373f60;
  color: #cbcbcb;
  border: none;
}
.custom-form select:focus{
  background-color: #31373f;
  color: #cbcbcb;
  border: none;
}
.custom-form select:focus-within{
  background-color: #31373f;
  color: #cbcbcb;
  border: #3d434a 1px solid;
  box-shadow: none;
}


.custom-form .help-block{
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.452);
}

.custom-form .control-group{
  margin: 5px 0px 5px 0px;
}

.custom-form .form-group{
  margin:10px 0px 10px 0px;
}

.asteriskField{
  color: #dc3545;
}

.vip-card{
  background-color: #31373f;
  color: #cbcbcb;
  border-radius: 25px;
  position: relative;

}

.curve{
  width: 100%;
  height: 100%;
  text-align: center;
  clip-path: ellipse(55% 25% at 50% 11%);
  background: var(--icon-text-active);
  position: absolute;
}
.curve h3{
  color: #000000ab;;
  padding: 20px;
  overflow: hidden;
  font-weight: bold;
  text-shadow: #000000 0px 1px;
}

.vip-card-body{
  padding-top: 100px;
  padding-bottom: 20px;
  text-align: center;
}
