{% extends 'server/base.html' %}

{% block content %}
{% include 'server/cover_heading.html' with heading='Store' sub_heading='Browse our various products' background='server/images/bayonet.jpg' %}
<div class="container">
	<div class="border bg-light mt-3 p-1">
		<div class="m-2 row">

			{% for product in products %}
			<div class="col-12 col-lg-4">

				<div class="card card-transition m-1">
					<div class="card-header text-center bg-secondary-accent text-uppercase text-white" style="letter-spacing: 0.05rem;">
						<h5 class="card-title mb-0">
							<i class="{{product.icon}}"></i>
							{{product.title}}
						</h5>
					</div>
					<div class="text-center p-3 bg-light border">
						<p class="fs-1 fw-bold mb-0">
							&#x20b9; {{product.price}}
						</p>
							<span class="text-muted fs-6 text-lowercase fw-bold">
								{{product.detail}}
							</span>
					</div>
					<div class="card-body">
						<span style="font-size:0.9rem;">
							{{product.features|linebreaks}}
						</span>
					</div>
					<div class="card-footer text-center" style="overflow: auto;">
						{{product.razorpay_button|safe}}
					</div>
				</div>
				
			</div>
			{% endfor %}
		</div>
	</div>
</div>

</div>
{% endblock content %}

{% block js %}


{% endblock js %}